<link rel="stylesheet" href="~/css/pageAbot.css" asp-append-version="true" />
<div class="dark"></div>
<div class="main">
    <h2 align="center">Об авторе</h2>
    <div class="img">
        <figure>
            <img src="https://i.ibb.co/gRHHX4j/I.jpg" width="320" height="320" alt="Тут должно быть изображение автора">
            <figcaption style="margin-top:15px"> Автор сайта студент Омутнинского колледжа педагогики, экономики и права группы П-30.</figcaption>
        </figure>
    </div>
    То, что вы здесь видите является личным мнением автора, который ни в коем случае не хотел вас обидеть или оскорбить.
    <h2 align="center">Технологии</h2>
    Я писал этот сайт с нуля, без использования готовых шаблонов. Сам сайт реализован на основе ASP.NET CORE 6.0 MVC<br><br>

    <span class="Language">Кроме стандартных HTML и CSS cайт использует три языка программирования:</span>
    <ul>
        <li>SQL(Для работы с SQLite)</li>
        <li>JS(Вывод сообщений)</li>
        <li>C#(Он отвечает за всё остальное)</li>
    </ul>
    <br>
    <br>
    <p>
    Видео и кнопки чат-бота, беруться из встроенной базы данных на основе Sqlite. Чат-бот и сайт, являются одним проектом, я специально так сделал, чтобы сэкономить деньги на размещении.<br>
    Проект прошёл долгий путь, от простых GET и POST запросов, до почти полноценного веб-портала, да, тут много нет, но при необходимости это можно сделать и добавить.
   </p>

    Если у вас пояились какие-то вопросы, вы можете их задать в коннекте, перейдя по ссылкам ниже.
    <div class="connect">
        <form asp-controller="Home"  asp-action="Index">
        <p><input type="image" asp-controller="Home" asp-action="Index"  src="~/img/Home.png" width="50px" height="50px"></p>
        </form>
        <p><a target="_blank" href="https://vk.com/hanazuky"><img src="https://cdn-icons-png.flaticon.com/512/4494/4494517.png" width="50px" height="50px"></a></p>
        <p><a target="_blank" href="https://www.youtube.com/channel/UCnlnofSaWpOzPHznjzIgdHw"><img src="https://cdn-icons-png.flaticon.com/512/4494/4494485.png" width="50px" height="50px"></a></p>
        <p><a target="_blank" href="mailto:hanazuky@yandex.ru"><img src="https://cdn-icons-png.flaticon.com/512/6052/6052250.png" width="50px" height="50px"></a></p>
    </div>
</div>
