<link rel="stylesheet" href="~/css/pageAlmore.css" asp-append-version="true" />
<div class="dark"></div>
<div class="main">
    <h2 align="center">Другие проекты</h2>
   Вообще, за 2.5 года обучения в коллдже мне доводилось писат множество проектов на разных языках(Kotlin,Java,Python,C#,JavaScript,C++ Basic и и.д)
    <h3 align="center">Java и Kotlin</h3>
   На Java и Kotlin мне доводилось писать мобильные приложения под платформу Android в рамках номинации Траектории будущего "Разработка мобильных приложения по Android".
   На Java когда реализовывал UML-диаграмму классов, одн из задний теста прошлого сезона этой же номинации.
    Вот ссылка на мой <a style="color:cornflowerblue" href="https://github.com/DanilaDashevsky?tab=repositories">GitHub</a> там недавно залитое мобильное приложение, написанное на Kotlin, кому надо скачайте. Работоспосбность гарантирповать не могу, всё зависит от версий Android Studio.
   Но если возникнут проблемы, можете мне написать, оппробуем разобраться.
    <h3 align="center">С++</h3>
   На C++ нас учат системному программированию(по сути те же основы программирования, только на C++ с добавлением нюансов самого языка). Хотя, благодаря плюсам я стал лучше понимать, как распределяются переменные в оперативной памяти системы.
   JavaScript я использовал на первых этапах своего развития в ASP.Net Core MVC, когда учился новичковым основам взаимодействия клиента и сервера(Сетевые запросы GET и  POST, а так же их обработка)
    <h3 align="center">Python</h3>
   На Python я писал своего первого чат бота в рамках областного хакатона, где у нас был реальный заказ от кировской компании по доставке и продаже суши и роллов ЯпоноМания. 
   В команде каждый играл свою роль, Даниил занимался системой оплаты, Стёпа настраивал работу с БД на основе MySQL 8, я занимался лицом бота и парсингом данных с главного сайта.
    Скачать этот проект вы также можете на <a style="color:cornflowerblue" href="https://github.com/DanilaDashevsky?tab=repositories">GitHub</a> 🙄🙄🙄. Правда, доступна лишь моя часть бота(Нет MySql запросов и системы оплаты), но он работает, главное токин поменяйте. Просто full находитсья не у меня, потому что БД развёртывалась не на моём железе.
   <h3 align="center">C#</h3>
    И на конец мой любимый язык программирования, на котором я работаю уже довольно долго, отдельно хочу по благодарить моего педагога, которая научила меня основам 😍Трефилову Екатерину Владимировну😍.
    Именно благодаря ей у меня повилось желание развиваться в этом языке.
    Вообще на C# я писал много, писал сложно и временами непонятно. Вот например <a style="color:cornflowerblue" href="~/img/Kursavaya.zip">Kursavaya.zip</a> моя курсовая на основе Microsoft Accsess и WinForm по работе с абитуриентами (у меня почти все работы второго курса связаны с ними), к стати, первокурсникам привет!
    Надеюсь, что вы меня всё ещё помните с приёмной комиссии и желательно в хорошем свете.
    Например, чат-бот которым вы сейчас пользуетесь тоже написан на C# и именно благодаря этому у меня получилось интегрировать его в этот проект.
    Из-за того, что Microsoft ушла из России, появились некоторые проблемы, например, некторые новейшие NuGet пакеты стали недоступны, поэтому приходилось делать откат на более ранние версии, а сама Visual Studio 2022 начинает говорить мне, что я не могу ей пользоватсья.
    <img style="margin-top:15px;" src="~/img/Empry.png" width="390">
    <img style="margin-left:15px;" src="~/img/_CC_Ufmpe3g.jpg" width="390">
    Но я думаю, что всё это спадёт на нет, когда СВО закончиться, нельзя же вечно воевать...😒
    <div class="connect">
        <form asp-controller="Home" asp-action="Index">
            <p><input type="image" asp-controller="Home" asp-action="Index" src="~/img/Home.png" width="50px" height="50px"></p>
        </form>
        <p><a target="_blank" href="https://vk.com/hanazuky"><img src="https://cdn-icons-png.flaticon.com/512/4494/4494517.png" width="50px" height="50px"></a></p>
        <p><a target="_blank" href="https://www.youtube.com/channel/UCnlnofSaWpOzPHznjzIgdHw"><img src="https://cdn-icons-png.flaticon.com/512/4494/4494485.png" width="50px" height="50px"></a></p>
        <p><a target="_blank" href="mailto:hanazuky@yandex.ru"><img src="https://cdn-icons-png.flaticon.com/512/6052/6052250.png" width="50px" height="50px"></a></p>
    </div>
</div>
